#header{
    height: 80px;
    background-color: transparent;
}

#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo img{
    display: block;
    margin-left: 50%;
}

#navbar{
    padding:0;
    margin-right: 13%;
}

#navbar ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li{
    position: relative;
    padding: 15px 10px;
}

#navbar li a{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

#navbar ul button{
    background-color:#F29C05;
    padding: 3px 10px;
    border:none;
    border-radius: 4px;
    
}