#footer{
    background-color: #325493;
    margin-top: 50px;
    height: 320px;
}

#footer .footer-logo{
    margin-left: 10%;
}

#footer p{
    color: white;
}

#footer .footer-links{
    display: flex;
    justify-content: space-around;
    color: white;
}

#footer a{
    display: flex;
    flex-direction: column;
    color:white;
    text-decoration: none;
}

@media (max-width: 576px) {

    #footer {
        height: auto;
        padding: 30px 0;
        text-align: center;
    }

    #footer .footer-logo {
        margin-left: 0;
    }
    #footer .footer-logo img {
        display: flex;
        justify-content: start;
    }

    #footer .footer-links {
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
    }

    #footer a {
        align-items: center;
    }
    #footer p{
        text-align: start;
    }
    
}