#hero{
    position: relative;
    width: 100%;
    height: 100vh;
}

#hero img{
    position: relative;
    width:100%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

#hero h3{
    position: absolute;
    top: 175px;
    color: white;
    background-color: #335393;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 12px;
    left: 20%;
}

#hero h1{
    position: absolute;
    top: 195px;
    left:19%;
    color: white;
    font-size: 60px;
    font-weight: 700;
    padding: 2px 12px;
}

#hero h5{
    position: absolute;
    top: 420px;
    left:19%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 2px 12px;
}

#hero .buttons{
    position: absolute;
    top: 490px;
    left: 22%;
    padding: 12px 5px;
}

#hero .signup{
    background-color: #335393;
    border-radius: 3px;
    border: none;
    padding: 6px 12px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

#hero .signin{
    background-color: transparent;
    border-radius: 3px;
    border: solid 1px;
    padding: 6px 12px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
}
#hero .boxes{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#hero .statistics{
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    width: 250px;
}

#hero .statistics h4{
    color:#3F5A96 ;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

#hero .statistics p{
    text-align: center;
    flex-direction: center;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 800;
}

