#hero {
  position: relative;
  width: 100%;
  height: 110vh;
  background-color: #f1f8ff;
}

#hero img {
  position: relative;
  width: 100%;
  height: 83vh;
  display: block;
  margin: 0 auto;
}

#hero h3 {
  position: absolute;
  top: 140px;
  color: white;
  background-color: #335393;
  font-size: 16px;
  font-weight: 500;
  padding: 2px 12px;
  left: 20%;
}

#hero h1 {
  position: absolute;
  top: 160px;
  left: 255px;
  color: white;
  font-size: 60px;
  font-weight: 700;
  padding: 2px 12px;
}

#hero h5 {
  position: absolute;
  top: 380px;
  left: 255px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 2px 12px;
}

#hero .buttons {
  position: absolute;
  top: 450px;
  left: 22%;
  padding: 12px 5px;
}

#hero .signup {
  background-color: #335393;
  border-radius: 3px;
  border: none;
  padding: 6px 12px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

#hero .signin {
  background-color: transparent;
  border-radius: 3px;
  border: solid 1px;
  padding: 6px 12px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
#hero .boxes {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}

#hero .statistics {
  width: 100px;
  height: 100px;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  width: 250px;
}

#hero .statistics h4 {
  color: #3f5a96;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

#hero .statistics p {
  text-align: center;
  flex-direction: center;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 800;
}

@media (max-width: 576px) {
  #hero {
    height: 150vh;
    padding-bottom: 40px;
  }

  #hero img {
    height: 80vh;
    object-fit: cover;
  }
  #hero h3{
    position: absolute;
    margin-left: -25px;
    border-radius: 6px;
  }
  #hero h1{
    position: absolute;
    margin-left: -180px;
    color: white;
  }
    #hero h5{
    font-size: 20px;
    margin-top: 15px;
    color: white;
    line-height: 20px;
    margin-left: -180px;
     background: rgba(16, 2, 2, 0.646);
  }

  #hero .buttons {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  #hero .signup{
    font-size: 20px;
    padding: 6px 120px;
  }
  #hero .signin {
    font-size: 20px;
    padding: 6px 120px;
    background: rgba(16, 2, 2, 0.646);
  }

  /* Alt kutular (statistics) */
  #hero .boxes {
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
  }

  #hero .statistics {
    width: 80%;
    max-width: 300px;
    height: 120px;
    border-radius: 10px;
  }

  #hero .statistics h4 {
    font-size: 26px;
    margin-top: 15px;
  }

  #hero .statistics p {
    font-size: 16px;
    margin-top: 5px;
  }
}
