#review-contact{
    width: 100%;
    height: 100%;
}

#review-contact .back-color{
    background-color: #F1F8FF;
    height: 700px;
}
#review-contact .back-color-1{
    background-color: white;
}

#review-contact .title-1{
     text-align: center;
    margin-top: 15px;
    color:  #335393;
    font-weight: 600 bold;
    padding: 50px 0 0 0;
    margin-top: 100vh;
}

#review-contact hr{
    top: 0;
    border: 3px solid ;
    border-radius: 10px;
    margin: 20px auto;
    width: 10%;
    color: orange;
}

#review-contact .review-contact-title{
text-align: center;
}

#review-contact .review-contact-title p{
    font-weight: 500;
}

#review-contact .cfo-img{
    display: flex;
    justify-content: center;
    gap: 10%;
    top:20px;
}

#review-contact img{
    border-radius: 100px;
}

#review-contact .cfo-name{
    display: flex;
    gap: 20px;
}

#review-contact .cfo-name p{
    margin-top: 15px;
}

#review-contact .cfo-box{
    background: #2e4f8f;
    color: #fff;
    padding: 20px 25px;
    width: fit-content;
    border-radius: 4px;
    position: relative;
    margin: 40px auto;
}

#review-contact .cfo-box::before{
    content: "";
    position: absolute;
    bottom: -70px;
    left: 2px;
    width: 0;
    height: 0;
    border-top: 70px solid #8197BF;
    border-left: 70px solid transparent;
}

#review-contact .cfo-box::after{
    content: "";
    position: absolute;
    bottom: -70px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 70px solid #8197BF;
    border-right: 70px solid transparent;
}

#review-contact .cfo-box p{
    font-weight: 400;
}

#review-contact .contact-us{
    text-align: center;
    margin-top: 40px;
}

#review-contact .contact-us h1{
    font-weight: 600 bold;
    padding: 50px 0 0 0;
    color:  #335393;
}

#review-contact .info-box-1{
    display:flex ;
    justify-content: center;
    margin-top: 15px;
    gap: 10%;
    max-height: 390px;
    margin-top: 100px;
}
#review-contact .info-box-2{
    gap: 70px;
}

#review-contact .info-box-3{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#review-contact .form-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#review-contact .form-input input{
        background-color: rgb(241, 248, 255);
        border: none;
        border-radius: 6px;
}

#review-contact .input-massage{
    height: 150px;
    background-color: rgb(241, 248, 255);
    border: none;
    border-radius: 6px;
}

@media (max-width:576px){
    #review-contact{
        height: 220vh;
    }

    #review-contact .cfo-img{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    #review-contact .back-color{
        height: 120vh;
    }
    #review-contact .cfo-name img{
        margin-left: 25px;
    }

    #review-contact .info-box-1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 170px;
    }

    #review-contact .info-box-2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
    }


    #review-contact .map {
        width: 90%;
        height: 500px;
        margin-top: 25px;
    }
}