#review-contact{
    width: 100%;
    height: 100%;
}

#review-contact .back-color{
    background-color: #F1F8FF;
    height: 700px;
}
#review-contact .back-color-1{
    background-color: white;
}

#review-contact .title-1{
     text-align: center;
    margin-top: 15px;
    color:  #335393;
    font-weight: 600 bold;
    padding: 50px 0 0 0;
    margin-top: 100vh;
}

#review-contact hr{
    top: 0;
    border: 3px solid ;
    border-radius: 10px;
    margin: 20px auto;
    width: 10%;
    color: orange;
}

#review-contact .review-contact-title{
text-align: center;
}

#review-contact .review-contact-title::before{

}

#review-contact .review-contact-title::after{

}

#review-contact .review-contact-title p{
    font-weight: 500;
}

#review-contact .cfo-img{
    display: flex;
    justify-content: center;
    gap: 10%;
    top:20px;
}

#review-contact img{
    border-radius: 100px;
}

#review-contact .cfo-name{
    display: flex;
    gap: 20px;
}

#review-contact .cfo-name p{
    margin-top: 15px;
}

#review-contact .cfo-box{
    background-color: #325493;
    text-align: start;
    padding: 10px 10px;
    margin-top: 15px;
    color: white;
}

#review-contact .cfo-box p{
    font-weight: 400;
}

#review-contact .contact-us{
    text-align: center;
    margin-top: 40px;
}

#review-contact .contact-us h1{
    font-weight: 600 bold;
    padding: 50px 0 0 0;
    color:  #335393;
}

#review-contact .info-box-1{
    display:flex ;
    justify-content: center;
    margin-top: 15px;
    gap: 10%;
    max-height: 390px;
    margin-top: 100px;
}
#review-contact .info-box-2{
    gap: 70px;
}

#review-contact .info-box-3{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#review-contact .form-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#review-contact .form-input input{
        background-color: rgb(241, 248, 255);
        border: none;
        border-radius: 6px;
}

#review-contact .input-massage{
    height: 150px;
    background-color: rgb(241, 248, 255);
    border: none;
        border-radius: 6px;
}