#trainers{
    width: 100%;
    height: 140vh;

}

#trainers .bg-color{
    background-color:#F1F8FF ;
    height: 110vh;
}


#trainers .title-1{
    text-align: center;
    margin-top: 15px;
    color:  #335393;
    font-weight: 600 bold;
    padding: 50px 0 0 0;
    margin-top: 320px;
}

#trainers hr{
    top: 0;
    border: 3px solid ;
    border-radius: 10px;
    margin: 20px auto;
    width: 10%;
    color: orange;
}

#trainers .title-content{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
#trainers .title-content p{
    font-weight: 500;
}

#trainers .img-trainers{
    display: flex;
    justify-content: center;
    gap: 60px;
}

#trainers .img-trainers img{
    border-radius: 6px;
    border: 10px dashed;
    color: #335393;
}

#trainers .title-2{
     text-align: center;
    color:  #335393;
    font-weight: 600 bold;
    padding: 50px 0 0 0;
    margin-top: 20px;
}

#trainers .selles{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 1px;
    text-align: center;
}
#trainers .selles a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#trainers .selles p{
    font-weight: 500;
}

#trainers .selles img{
    width: 300px;
    height: auto;
    border-radius: 10px;
}
#trainers .white{
    background-color: white;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.15);
}

@media (max-width:576px){
    #trainers {
        height: 330vh;
    }

    #trainers .bg-color {
        height: auto;
        padding-bottom: 50px;
    }

    #trainers .title-1 {
        margin-top: 40px !important;
        padding-top: 0;
        font-size: 26px;
    }

    #trainers hr {
        width: 30%;
    }

    #trainers .img-trainers {
        flex-direction: column;
        gap: 25px;
        padding: 0 20px;
        align-items: center;
    }

    #trainers .img-trainers img {
        width: 300;
        height: 300;
        margin: auto;
        border-radius: 8px;
    }

    #trainers .title-2 {
        font-size: 26px;
    }
    #trainers .white{
        width: 300px;
        border-radius: 8px;
    }
    #trainers .selles img{
        width: 300px;
    }

    #trainers .selles {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 30px;
    }

}